<!DOCTYPE html>
<html lang="en-nz" id="html">
    <head>
        <title>{{ post["title"] }} | Pyxia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='scripts/main_mobile.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/anonymous.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/post.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile/mobile.css')  }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/mobile/mobile_anonymous.css')  }}">
    </head>
    <body>
        <header>
            <img id="exit_address" style="position: absolute;" src="{{ url_for('static', filename='images/exit.png') }}" width="0px" height="0px" alt="exit">
            <img id="menu_address" style="position: absolute;" src="{{ url_for('static', filename='images/menu.png') }}" width="0px" height="0px" alt="menu">
            <div class="header-container">
                <button class="menu-open" id="opencloseMenu" onclick="openclosemenu()"><img width="50vw" src="{{ url_for('static', filename='images/menu.png') }}" id="opencloseImage" alt="menu"></button>
                <h1 class="menu-name">Pyxia</h1>
            </div>
        </header>
        <div id="share_overlay">
            <div class="share_wrapper">
                <div class="share_top">
                    <h2 class="share_top_text">Share</h2>
                    <button id="share_top_post" onclick="close_share()">
                        <img class="close-post-comment-image" src="{{ url_for('static', filename='images/exit.png') }}" height="100%" alt="exit">
                    </button>
                </div>
                <div class="share_text_main">
                    <div class="share_input_box_container">
                        <input id="share_link_box" type="text" value="https://pyxia.tech/pyxia" readonly>
                    </div>
                    <div class="share_copy_link_container">
                        <button onclick="copy_link()" class="share_copy_link">Copy Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-bar" id="sidebar-container">
            <div class="top-buttons-container">
                <div class="top-buttons">
                    <button class="menu-search" onclick="a_search()"><img width="60vw" src="{{ url_for('static', filename='images/search.png') }}" alt="search"></button> 
                </div>
            </div>
            <div class="sidebar-button-div">
                <button class="sidebar-button" onclick="a_home()">
                    <div class="inner-button-container">
                        <img class="sidebar-button-image" src="{{ url_for('static', filename='images/home.png') }}" width="50vw" alt="home">
                        <strong class="sidebar-button-text">Home</strong>
                    </div>
                </button>
            </div>
            <div class="side_bar_button_container" id="side_bar">
                <div class="sidebar-button-div">
                    <button class="sidebar-button" onclick="a_trending()">
                        <div class="inner-button-container">
                            <img class="sidebar-button-image" src="{{ url_for('static', filename='images/trending.png') }}" width="50vw" alt="trending">
                            <strong class="sidebar-button-text">Trending</strong>
                        </div>
                    </button>
                </div>
                <div class="sidebar-button-div">
                    <button class="sidebar-button" onclick="a_clips()">
                        <div class="inner-button-container">
                            <img class="sidebar-button-image" src="{{ url_for('static', filename='images/clips.png') }}" width="50vw" alt="clips">
                            <strong class="sidebar-button-text">Clips</strong>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="container" id="container">
            <div class="post-container">
                <div class="post-wrapper">
                    <div class="posts">
                        <div class="posts">
                            <div class="post">
                                <div class="post-user-account">
                                    {% if pfp[0] == True %}
                                            <img class="post-username-image custom_pfp" height="75vh" width="75vh" src="{{ url_for('static', filename=pfp[1]) }}" alt="pfp">
                                    {% else %}
                                        <img class="post-username-image" height="75vh" src="{{ url_for('static', filename='images/profile.png') }}" alt="profile">
                                    {% endif %}
                                    <a class="post-username-text"><h2>{{ post["user"] }}</h2></a>
                                </div>
                                <div class="post-title">
                                    <h2>{{ post["title"] }}</h2>
                                </div>
                                {% if post["images"] != None %}
                                    <div class="post-image-container">
                                        <img class="variable_images" id="{{ post['post_id'] }}_total_image" name="{{ post['total_images'] }}">
                                        <img class="variable_images" id="{{ post['post_id'] }}_start_image" name="1">
                                        {% for image in post["images"] %}
                                            {% if '.mp4' in image %}
                                                {% if loop.index > 1 %}
                                                    <div name="{{ loop.index }}" class="post-image-hidden" id="{{ post['post_id'] }}_{{ loop.index }}">
                                                        <video height="90%" controls id="post_image_{{ post['post_id'] }}_{{ loop.index }}" class="post-image-hidden" >
                                                            <source src="{{ url_for('a_load_image', post_id=post['post_id'], filename=post['images'][loop.index - 1]) }}" type="video/mp4">
                                                        </video>
                                                    </div>
                                                {% else %}
                                                    <div name="{{ loop.index }}" class="container_thingy" id="{{ post['post_id'] }}_container_thingy">
                                                        <video height="90%" controls id="post_image_{{ post['post_id'] }}_{{ loop.index }}" class="post-image post-image-video">
                                                            <source src="{{ url_for('a_load_image', post_id=post['post_id'], filename=post['images'][loop.index - 1]) }}" type="video/mp4">
                                                        </video>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                {% if loop.index > 1 %}
                                                    <div name="{{ loop.index }}" class="post-image-hidden" id="{{ post['post_id'] }}_{{ loop.index }}">
                                                        <img id="post_image_{{ post['post_id'] }}_{{ loop.index }}" class="post-image-hidden" src="{{ url_for('a_load_image', post_id=post['post_id'], filename=post['images'][0]) }}" alt="postimage">
                                                    </div>
                                                {% else %}
                                                    <div name="{{ loop.index }}" class="container_thingy" id="{{ post['post_id'] }}_container_thingy">
                                                        <img id="post_image_{{ post['post_id'] }}_{{ loop.index }}" height="auto" class="post-image" src="{{ url_for('a_load_image', post_id=post['post_id'], filename=post['images'][0]) }}" alt="postimage">
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if post['total_images'] > 1 %}
                                    <button onclick="image_left({{ post['post_id'] }})" class="left-option"><img src="{{ url_for('static', filename='images/left.png') }}" height="50vh" alt="leftbutton"></button>
                                    <button onclick="image_right({{ post['post_id'] }})" class="right-option"><img src="{{ url_for('static', filename='images/right.png') }}" height="50vh" alt="rightbutton"></button>
                                {% endif %}
                                <div class="post-description">
                                    <div class="post-description-container">
                                        <p class="post-description-text">{{ post["description"] }}</p>
                                    </div>
                                </div>
                                <div class="post-interaction">
                                    <button onclick="open_share({{post['post_id']}})" class="post-interact-button a_post-share-button"><img height="50vh" src="{{ url_for('static', filename='images/share.png') }}" alt="share"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </body>
</html>