<!DOCTYPE html>
<html lang="en-nz" id="html">
    <head>
        <title>Attribution | Pyxia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <h1>All icons are found here (all rights reserved to the owner): <a href="https://www.iconfinder.com/search/icons?family=feather">CLICK</a></h1>
        <h1>Any material uploaded to Pxyia must be non-copyright, or the rights must be given to Pyxia-Security on upload. If you would like your data to be removed, please email us at pyxia-security@proton.me</h1>
    </body>
</html>