html {
    font-family: 'Verdana';
    background-color: #50727B;
}

body {
    background-color: #50727B;
}

* {
    margin: 0;
}

.header-container {
    background-color: #344955;
    height: 10vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid black 2px;
}

.menu-open {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-left: 1vw;
}

.menu-notification,
.menu-search {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.menu-search {
    padding-right: 10vw;
}

.account-button {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    float: right;
    height: 8vh;
    margin-right: 1vw;
    order: 5;
}

.profile-user-name {
    font-size: 5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.profile-picture {
    padding-right: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    border-radius: 50%;
}

.container {
    background-color: #50727B;
    width: 100%;
    padding-left: 0;
    display: flex;
}

.top-buttons {
    margin-left: auto;
    margin-right: auto;
}

.top-buttons-container {
    padding-top: 1vh;
    width: 100%;
    display: flex;
}

.side-bar {
    background-color: #344955;
    width: 100%;
    height: 100vh;
    display: none;
}

.account-dropdown {
    position: fixed;
}


.sidebar-button-div {
    justify-content: center;
    padding-top: 1vh;
    display: flex;
}

.sidebar-button {
    border-radius: 10px;
    background-color: #78A083;
    border: solid 2px;
    width: 90vw;
    height: 12vh;
    display: center;
    margin-left: auto;
    margin-right: auto;
}

.inner-button-container {
    margin-top: -.3vh;
    margin-left: -1.75vw;
    height: 105%;
    width: 104%;
    display: flex;
}

.sidebar-button-image {
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    margin-left: 10vw;
}

.sidebar-button-text {
    font-size: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5vw;
}

.menu-name {
    margin-top: auto;
    margin-bottom: auto;
}

.menu-name-link:hover {
    cursor: pointer;
}

.post-container {
    display: block;
    width: 100vw;
    margin-top: 4vh;
}

.post-wrapper {
    display: flex;
}

.posts {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 1vh;
    margin-bottom: 2.5vh;
    margin-left: -5vw;
    margin-right: -4.55vw;
    background-color: black;
    height: .2vh;
    border: none;
}

.post {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
}

.post-user-account {
    display: flex;
}

.post-username-text {
    padding-left: 2vw;
    margin-top: auto;
    margin-bottom: auto;
}

.post-username-image {
    margin-left: .5vw;
    margin-top: .5vw;;
    margin-bottom: .5vw;
}

.post-title {
    margin-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 2vw;
}

.post-title-link {
    color: black;
    text-decoration: none;
}

.post-image-container {
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: solid gray 1px;
    height: 30vh;
}

.post-description {
    display: flex;
}

.post-description-container {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.post-interaction {
    display: flex;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-bottom: 1vh;
}

.left-option {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}

.right-option {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 54vw;
    margin-top: auto;
    margin-bottom: auto;
}

.buttons {
    display: flex;
}

.variable_images {
    position: absolute;
}

.post-image {
    margin-left: auto;
    margin-right: auto;
}

.post-image-hidden {
    height: 0vh;
    position: absolute;
}

.posted-date {
    margin-left: auto;
    order: 2;
    margin-right: 1vw;
    margin-top: auto;
    margin-bottom: auto;
}

.post-interact-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.post-bookmark-button {
    margin-left: auto;
}

.post-share-button {
    margin-right: 1vw;
}

.post-comment-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 1vh;
    margin-bottom: 1vh;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#notification-overlay { 
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.5);
    z-index: 2;
}

.notification-overlay {
    height: 100%;
    width: 100%;
    display: block;
}

.iframe-notification-overlay {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    height: 80%;
    width: 80%;
    border: solid black 2px;
    border-radius: 10px;
}

.notification-close {
    position: absolute;
    margin-left: 95%;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#share_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.5);
    z-index: 2;
}

.share_wrapper {
    width: 25vw;
    height: 20vh;
    margin: auto;
    background-color: #344955;
}

.share_top {
    height: 5vh;
    display: flex
}

.share_top_text {
    margin: auto;
    font-size: 2em;
}

.share_text_main {
    height: 15vh;
}

.share_input_box_container {
    display: flex;
    height: 7vh;
}

#share_link_box {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    text-align: center;
    font-size: 1.25em;
}

.share_copy_link_container {
    height: 8vh;
    display: flex;
}

.share_copy_link {
    height: 6vh;
    width: 10vw;
    margin: auto;
    font-size: 1.5em;
}

#share_top_post {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    margin-left: 21.75%;
    height: 6%;
}

.container_thingy {
    display: flex;
    height: 100%;
}

.attribution {
    margin-top: 1vh;
    padding-bottom: 2vh;
    text-align: center;
    color: black;
    text-decoration: none;
}

.custom_pfp {
    border-radius: 50%;
}

.post-image-video {
    max-width: 60%;
}