

.search-container {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    width: 100%;
    height: 100%;
    background-color: #344955;
}

.search-input {
    height: 10vh;
    margin-top: 2vh;
    width: 90vw;
    background-color: #78A083;
    font-size: 6vh;
    color: black;
    border-radius: 10px;
    border: solid black 2px;
}

.search-input::placeholder {
    color: black;
}

.search-form {
    margin-left: auto;
    margin-right: auto;
}

.search-box .search-icon {
    position: absolute;
    padding-top: 2vh;
    min-width: 40px;
}

@media (max-width: 1300px) {
    .search-icon {
        width: 4.75vw;
        padding-left: .5vw;
    }

    .search-input {
        padding-left: 5.25vw;
    }

    .search-type-buttons {
        height: 7vh;
        width: 40vw;
        font-size: 150%;
    }
}

@media (min-width: 1400px) {
    .search-icon {
        width: 5vw;
        padding-left: .5vw;
    }

    .search-input {
        padding-left: 6vw;
    }

    .search-type-buttons {
        height: 6vh;
        width: 10vw;
        font-size: 200%;
    }
}

.search-type {
    height: 10vh;
    width: 100%;
    display: flex;
    margin-top: 1vh;
    border-bottom: solid black 1px;
}

.search-form-container {
    display: flex;
}

.search-type-posts {
    margin-left: auto;
    background-color: #50727B;
}

.search-type-people {
    margin-right: auto;
    margin-left: 1vw;
    background-color: #78A083;
}

.search-type-buttons { 
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    border: solid black 2px;
}

.sr-header {
    font-size: 200%;
    margin-left: 1vw;
}

.search-results {
    margin-top: 2vh;
}

.result {
    margin-top: 2vh;
    background-color: #78A083;
    height: auto;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    display: flex;
    border: solid black 2px;
    border-radius: 10px;
}

.result-text {
    font-size: 200%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
}

.result-link {
    color: black;
    text-decoration: none;
}

.search-button-container {
    display: flex;
    padding-top: 2vh;
}

.search-button {
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    width: 80vw;
    font-size: 2em;
    background-color: #78A083;
    border: solid black 2px;
    border-radius: 10px;
    display: flex;
}

.search-button-text {
    margin: auto;
}

.user_link {
    margin-top: auto;
    margin-bottom: auto;
}