<!DOCTYPE html>
<html lang="en-nz" id="html">
    <head>
        <title>Pyxia | 401 Unauthorized</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">
    </head>
    <body>
        <h1 class="center">401 Unauthorized</h1>
        <h2 class="center">Your request has not been completed as it lacks valid authentication credentials for the requested resource.</h2>
        <h3 class="center">Find more information here: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401/" target="_blank">MDM Web docs</a></h3>
    </body>
</html>