<!DOCTYPE html>
<htmL>
    <head>
        <title>Pyxia | 404 Not Found</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">
    </head>
    <body>
        <h1 class="center">404 Not Found</h1>
        <h2 class="center">We couldn't find that page, maybe that link was broken.</h2>
        <h3 class="center">Find more information here: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404/" target="_blank">MDM Web docs</a></h3>
    </body>
</htmL>