<!DOCTYPE html>
<htmL>
    <head>
        <title>Pyxia | Error</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">
    </head>
    <body>
        <br>
        <h1 class="center">{{ error }}</h1>
        <br><br><br><br>
        <h1 class="center">This is a 418 Teapot page</h1>
        <h2 class="center">This page is not premade, there may be mistakes. All uncommon errors are sent here.</h2>
        <h3 class="center">If you error is not shown, please search for it on this page: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/" target="_blank">https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/</a></h3>
        <br>
        <h2 class="center">The server has refused to brew coffee because it is, permanently, a teapot.</h2>
        <h3 class="center">Find more information here: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418/" target="_blank">MDM Web docs</a></h3>
    </body>
</htmL>