<!DOCTYPE html>
<htmL>
    <head>
        <title>Pyxia | 500 Internal Server Error</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">
    </head>
    <body>
        <h1 class="center">500 Internal Server Error</h1>
        <h2 class="center">The server encountered an unexpected error that has prevented it from fulfilling your request. Please try again later.</h2>
        <h3 class="center">Find more information here: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500/" target="_blank">MDM Web docs</a></h3>
    </body>
</htmL>