<!DOCTYPE html>
<html>
    <head>
        <title>Pyxia</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/anonymous.css') }}">
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </head>
    <body>
        <h1 class="name">Pyxia - Anonymous</h1>
        {% for post in posts["posts"] %}
            <h1>{{ post["title"] }}</h1>
        {% endfor %}
    </body>
</html>