<!DOCTYPE html>
<html lang="en-nz">
    <head>
        <title>Clips | Pyxia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <header>
            <img id="exit_address" style="position: absolute;" src="{{ url_for('static', filename='images/exit.png') }}" width="0px" height="0px">
            <img id="menu_address" style="position: absolute;" src="{{ url_for('static', filename='images/menu.png') }}" width="0px" height="0px">
            <div class="header-container">
                <button class="menu-open" id="opencloseMenu" onclick="openclosemenu()"><img width="100vw" src="{{ url_for('static', filename='images/exit.png') }}" id="opencloseImage" class="nav-icons"></button>
                <button class="account-button" onclick="profile()"><p class="profile-user-name">NAME</p><img class="profile-picture" height="45vh" src="{{ url_for('static', filename='images/profile.png') }}" class="nav-icons"></button>
                <button class="notification" onclick="notificationopenMenu()"><img width="50vw" src="{{ url_for('static', filename='images/notification.png') }}" class="nav-icons"></button>
                <button class="search" onclick="search()"><img width="50vw" src="{{ url_for('static', filename='images/search.png') }}" class="nav-icons"></button> 
            </div>
        </header>
        <div id="notification-overlay">
            <div class="notification-overlay">
                <button class="notification-close" id="notificationcloseMenu" onclick="notificationcloseMenu()"><img width="50vw" src="{{ url_for('static', filename='images/exit.png') }}"></button>
                <iframe class="iframe-notification-overlay" src="notifications"></iframe>
            </div>
        </div>
        <div class="container">
            <div class="side-bar" id="sidebar-container">
                <div class="sidebar-button-div" id="sidebar">
                    <button class="sidebar-button" onclick="home()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/home.png') }}" width="50vw">
                            <p class="sidebar-button-text">Home</p>
                    </button>
                    <button class="sidebar-button" onclick="friends()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/friends.png') }}" width="50vw">
                        <p class="sidebar-button-text">Friends</p>
                    </button>
                    <button class="sidebar-button" onclick="trending()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/trending.png') }}" width="50vw">
                        <p class="sidebar-button-text">Trending</p>
                    </button>
                    <button class="sidebar-button" onclick="clips()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/clips.png') }}" width="50vw">
                        <p class="sidebar-button-text">Clips</p>
                    </button>
                </div>
            </div>
            <div class="post-container">
                <div class="post-wrapper">
                    <div class="posts">
                        <div class="post">
                            <div class="post-user-account">
                                <img class="post-username-image" height="75vh" src="{{ url_for('static', filename='images/profile.png') }}">
                                <h2 class="post-username-text">Person 1</h2>
                                <h3 class="posted-date">30s ago</h3>
                            </div>
                            <div class="post-title">
                                <a href="post/1" class="post-title-link"><h2>Post 1</h1></a>
                            </div>
                            <div class="post-image-container">
                                <img height="auto" class="post-image" src="{{ url_for('static', filename='images/testpost.png') }}">
                            </div>
                            <div class="post-description">
                                <div class="post-description-container">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu efficitur nisi, quis ullamcorper orci. Sed facilisis varius ullamcorper. Suspendisse quis ligula pretium, ornare ligula id, ornare ex. Curabitur condimentum metus et accumsan efficitur. Nunc pharetra ex sit amet venenatis vulputate. Suspendisse potenti. Phasellus orci nisi, vulputate non mi quis, lobortis elementum eros.</p>
                                </div>
                            </div>
                            <div class="post-interaction">
                                <button class="post-interact-button"><img height="50vh" src="{{ url_for('static', filename='images/like.png') }}"></button>
                                <button class="post-interact-button post-bookmark-button"><img height="50vh" src="{{ url_for('static', filename='images/bookmark.png') }}"></button>
                                <button class="post-interact-button post-share-button"><img height="50vh" src="{{ url_for('static', filename='images/share.png') }}"></button>
                            </div>
                            <div class="comment-button">
                                <button class="post-comment-button"><h2>Comments (0)</h2></button>
                            </div>
                        </div>
                        <div class="posts">
                            <div class="post">
                                <div class="post-user-account">
                                    <img class="post-username-image" height="75vh" src="{{ url_for('static', filename='images/profile.png') }}">
                                    <h2 class="post-username-text">Person 1</h2>
                                    <h3 class="posted-date">30s ago</h3>
                                </div>
                                <div class="post-title">
                                    <a href="post/2" class="post-title-link"><h2>Post 2</h1></a>
                                </div>
                                <div class="post-image-container">
                                    <img height="auto" class="post-image" src="{{ url_for('static', filename='images/testpost.png') }}">
                                </div>
                                <div class="post-description">
                                    <div class="post-description-container">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu efficitur nisi, quis ullamcorper orci. Sed facilisis varius ullamcorper. Suspendisse quis ligula pretium, ornare ligula id, ornare ex. Curabitur condimentum metus et accumsan efficitur. Nunc pharetra ex sit amet venenatis vulputate. Suspendisse potenti. Phasellus orci nisi, vulputate non mi quis, lobortis elementum eros.</p>
                                    </div>
                                </div>
                                <div class="post-interaction">
                                    <button class="post-interact-button"><img height="50vh" src="{{ url_for('static', filename='images/like.png') }}"></button>
                                    <button class="post-interact-button post-bookmark-button"><img height="50vh" src="{{ url_for('static', filename='images/bookmark.png') }}"></button>
                                    <button class="post-interact-button post-share-button"><img height="50vh" src="{{ url_for('static', filename='images/share.png') }}"></button>
                                </div>
                                <div class="comment-button">
                                    <button class="post-comment-button"><h2>Comments (0)</h2></button>
                                </div>
                            </div>
                        </div>
                        <div class="posts">
                            <div class="post">
                                <div class="post-user-account">
                                    <img class="post-username-image" height="75vh" src="{{ url_for('static', filename='images/profile.png') }}">
                                    <h2 class="post-username-text">Person 1</h2>
                                    <h3 class="posted-date">30s ago</h3>
                                </div>
                                <div class="post-title">
                                    <a href="post/3" class="post-title-link"><h2>Post 3</h1></a>
                                </div>
                                <div class="post-image-container">
                                    <img height="auto" class="post-image" src="{{ url_for('static', filename='images/testpost.png') }}">
                                </div>
                                <div class="post-description">
                                    <div class="post-description-container">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu efficitur nisi, quis ullamcorper orci. Sed facilisis varius ullamcorper. Suspendisse quis ligula pretium, ornare ligula id, ornare ex. Curabitur condimentum metus et accumsan efficitur. Nunc pharetra ex sit amet venenatis vulputate. Suspendisse potenti. Phasellus orci nisi, vulputate non mi quis, lobortis elementum eros.</p>
                                    </div>
                                </div>
                                <div class="post-interaction">
                                    <button class="post-interact-button"><img height="50vh" src="{{ url_for('static', filename='images/like.png') }}"></button>
                                    <button class="post-interact-button post-bookmark-button"><img height="50vh" src="{{ url_for('static', filename='images/bookmark.png') }}"></button>
                                    <button class="post-interact-button post-share-button"><img height="50vh" src="{{ url_for('static', filename='images/share.png') }}"></button>
                                </div>
                                <div class="comment-button">
                                    <button class="post-comment-button"><h2>Comments (0)</h2></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </body>
</html>