<!DOCTYPE html>
<html lang="en-nz" id="html">
    <head>
        <title>Main | Pyxia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    </head>
    <body>
        <header>
            <img id="exit_address" style="position: absolute;" src="{{ url_for('static', filename='images/exit.png') }}" width="0px" height="0px">
            <img id="menu_address" style="position: absolute;" src="{{ url_for('static', filename='images/menu.png') }}" width="0px" height="0px">
            <div class="header-container">
                <button class="menu-open" id="opencloseMenu" onclick="openclosemenu()"><img width="100vw" src="{{ url_for('static', filename='images/exit.png') }}" id="opencloseImage" class="nav-icons"></button>
                <button class="account-button" onclick="profile()"><p class="profile-user-name">{{ current_user.username }}</p><img class="profile-picture" height="45vh" src="{{ url_for('static', filename='images/profile.png') }}" class="nav-icons"></button>
                <button class="notification" onclick="notificationopenMenu()"><img width="50vw" src="{{ url_for('static', filename='images/notification.png') }}" class="nav-icons"></button>
                <button class="search" onclick="search()"><img width="50vw" src="{{ url_for('static', filename='images/search.png') }}" class="nav-icons"></button> 
            </div>
        </header>
        <div id="notification-overlay">
            <div class="notification-overlay">
                <button class="notification-close" id="notificationcloseMenu" onclick="notificationcloseMenu()"><img width="50vw" src="{{ url_for('static', filename='images/exit.png') }}"></button>
                <iframe class="iframe-notification-overlay" src="/notifications"></iframe>
            </div>
        </div>
        <div id="share_overlay">
            <div class="share_wrapper">
                <div class="share_top">
                    <h2 class="share_top_text">Share</h2>
                    <button id="share_top_post" onclick="close_share()">
                        <img class="close-post-comment-image" src="{{ url_for('static', filename='images/exit.png') }}" height="100%">
                    </button>
                </div>
                <div class="share_text_main">
                    <div class="share_input_box_container">
                        <input id="share_link_box" type="text" value="https://pyxia.tech/pyxia" readonly>
                    </div>
                    <div class="share_copy_link_container">
                        <button onclick="copy_link()" class="share_copy_link">Copy Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="side-bar" id="sidebar-container">
                <div class="sidebar-button-div" id="sidebar">
                    <button class="sidebar-button" onclick="home()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/home.png') }}" width="50vw">
                            <p class="sidebar-button-text">Home</p>
                    </button>
                    <button class="sidebar-button" onclick="friends()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/friends.png') }}" width="50vw">
                        <p class="sidebar-button-text">Friends</p>
                    </button>
                    <button class="sidebar-button" onclick="trending()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/trending.png') }}" width="50vw">
                        <p class="sidebar-button-text">Trending</p>
                    </button>
                    <button class="sidebar-button" onclick="clips()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/clips.png') }}" width="50vw">
                        <p class="sidebar-button-text">Clips</p>
                    </button>
                </div>
            </div>
            <div class="post-container">
                <div class="post-wrapper">
                    <div class="posts">
                        {% for post in posts["posts"] %}
                            <div class="posts">
                                <div class="post">
                                    <div class="post-user-account">
                                        <img class="post-username-image" height="75vh" src="{{ url_for('static', filename='images/profile.png') }}">
                                        <h2 class="post-username-text">{{ post["user"] }}</h2>
                                        <!--<h3 class="posted-date">30s ago</h3> -->
                                    </div>
                                    <div class="post-title">
                                        <a href="pyxia/posts/{{ post['post_id'] }}" class="post-title-link"><h2>{{ post["title"] }}</h1></a>
                                    </div>
                                    <div class="post-image-container">
                                        <img height="auto" class="post-image" src="{{ url_for('static', filename='images/testpost.png') }}">
                                    </div>
                                    <div class="post-description">
                                        <div class="post-description-container">
                                            <p>{{ post["description"] }}</p>
                                        </div>
                                    </div>
                                    <div class="post-interaction">
                                        {% if post["liked"] == "liked" %}
                                            <button id="like_button_{{post['post_id']}}" onclick="unlike_post({{post['post_id']}})" class="post-interact-button"><img id="like_button_img_{{post['post_id']}}" height="50vh" src="{{ url_for('static', filename='images/liked.png') }}"></button>
                                        {% else %}
                                            <button id="like_button_{{post['post_id']}}" onclick="like_post({{post['post_id']}})" class="post-interact-button"><img id="like_button_img_{{post['post_id']}}" height="50vh" src="{{ url_for('static', filename='images/like.png') }}"></button>
                                        {% endif %}
                                        <h2 id="post_likes_{{post['post_id']}}" class="post-interact-likes">{{ post["likes"] }}</h2>
                                        {% if post["bookmarked"] == "bookmarked" %}
                                            <button id="bookmark_button_{{post['post_id']}}" onclick="unsave_post({{post['post_id']}})" class="post-interact-button post-bookmark-button"><img id="bookmark_button_img_{{post['post_id']}}" height="50vh" src="{{ url_for('static', filename='images/bookmarked.png') }}"></button>
                                        {% else %}
                                            <button id="bookmark_button_{{post['post_id']}}" onclick="save_post({{post['post_id']}})" class="post-interact-button post-bookmark-button"><img id="bookmark_button_img_{{post['post_id']}}" height="50vh" src="{{ url_for('static', filename='images/bookmark.png') }}"></button>
                                        {% endif %}
                                        <button onclick="open_share({{post['post_id']}})" class="post-interact-button post-share-button"><img height="50vh" src="{{ url_for('static', filename='images/share.png') }}"></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>            
        </div>
    </body>
</html>