<!DOCTYPE html>
<html lang="en-nz">
    <head>
        <title>Notification | Pyxia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/notification.css') }}">
    </head>
    <body>
        <div class="notification-container">
            <div class="notification-topbar">
                <h2 class="text-center notification-title">Notifications</h2>
            </div> 
            <div class="notification-inner">
                <div class="notification-inner-container">
                    <div class="notification-box">
                        <h3 class="notification-name">You have 1 new friend request.</h3>
                        <button class="notification-button"><img height="70%" src="{{ url_for('static', filename='images/exit.png') }}"></button>
                    </div>
                    <div class="notification-box">
                        <h3 class="notification-name">You have 1 new message.</h3>
                        <button class="notification-button"><img height="70%" src="{{ url_for('static', filename='images/exit.png') }}"></button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>