<!DOCTYPE html>
<html lang="en-nz" id="html">
    <head>
        <title>Search | Pyxia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/search.css') }}">
    </head>
    <body>
        <header>
            <div class="header-container">
                <button class="menu-open" id="opencloseMenu" onclick="openclosemenu()"><img width="100vw" src="{{ url_for('static', filename='images/exit.png') }}" id="opencloseImage" class="nav-icons"></button>
                <button class="account-button" onclick="profile()"><p class="profile-user-name">NAME</p><img class="profile-picture" height="45vh" src="{{ url_for('static', filename='images/profile.png') }}" class="nav-icons"></button>
                <button class="notification" onclick="notificationopenMenu()"><img width="50vw" src="{{ url_for('static', filename='images/notification.png') }}" class="nav-icons"></button>
                <button class="search" onclick="search()"><img width="50vw" src="{{ url_for('static', filename='images/search.png') }}" class="nav-icons"></button> 
            </div>
        </header>
        <div id="notification-overlay">
            <div class="notification-overlay">
                <button class="notification-close" id="notificationcloseMenu" onclick="notificationcloseMenu()"><img width="50vw" src="{{ url_for('static', filename='images/exit.png') }}"></button>
                <iframe class="iframe-notification-overlay" src="notifications.html"></iframe>
            </div>
        </div>
        <div class="container">
            <div class="side-bar" id="sidebar-container">
                <div class="sidebar-button-div" id="sidebar">
                    <button class="sidebar-button" onclick="home()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/home.png') }}" width="50vw">
                            <p class="sidebar-button-text">Home</p>
                    </button>
                    <button class="sidebar-button" onclick="friends()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/friends.png') }}" width="50vw">
                        <p class="sidebar-button-text">Friends</p>
                    </button>
                    <button class="sidebar-button" onclick="trending()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/trending.png') }}" width="50vw">
                        <p class="sidebar-button-text">Trending</p>
                    </button>
                    <button class="sidebar-button" onclick="clips()"><img class="sidebar-button-image" src="{{ url_for('static', filename='images/clips.png') }}" width="50vw">
                        <p class="sidebar-button-text">Clips</p>
                    </button>
                </div>
            </div>
            <div class="search-container">
                <div class="search-form-container">
                    <form class="search-form">
                        <div class="search-box">
                            <img class="search-icon" src="{{ url_for('static', filename='images/search.png') }}">
                            <input class="search-input" name="search-input" type="text" placeholder="Search Posts" id="search-input-box">
                        </div>
                    </form>
                </div>
                <div class="search-type">
                    <button id="posts-button" class="search-type-posts search-type-buttons" onclick="postSearch()">Posts</button>
                    <button id="people-button" class="search-type-people search-type-buttons" onclick="peopleSearch()">People</button>
                </div>
                <div class="search-results">
                    <h2 class="sr-header">Results:</h2>
                    <div class="result">
                        <a href="post/1" class="result-link"><p class="result-text">Post 1</a> by <a href="user/1" class="result-link">Person 1</h1></a>
                    </div>
                    <div class="result">
                        <a href="post/2" class="result-link"><p class="result-text">Post 2</a> by <a href="user/1" class="result-link">Person 1</h1></a>
                    </div>
                    <div class="result">
                        <a href="post/3" class="result-link"><p class="result-text">Post 3</a> by <a href="user/1" class="result-link">Person 1</h1></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>