<!DOCTYPE html>
<html lang="en-nz" id="html">
    <head>
        <title>Pyxia | Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    </head>
    <body>
        <h1 class="name center">Sign Up</h1>
        <div class="login">
            <form method="post" action="/signup">
                <input class="loginemail center_div" type="email" placeholder="Email" name="email">
                <br>
                <input class="loginusername center_div" type="text" placeholder="Username" name="username">
                <br>
                <input class="loginpassword center_div" type="password" placeholder="Password" name="password">
                <br>
                <input class="loginconfpassword center_div" type="password" placeholder="Confirm Password" name="confirm-password">
                <br>
                <select class="center_div" name="age" id="age" size="2" required>
                    <option value="16">16</option>
                    <option value="18">18</option>
                </select>
                <br>
                {{ recaptcha }}
                <br>
                <input class="loginenter center_div" type="submit" value="Signup">
            </form>
            {% if error == True %}
                <p class="error center">Your Passwords don't match.</p>
            {% elif already_exists == True %}
                <p class="error center">The Email and/or Username already exists.</p>
            {% endif %}
            <p class="center">Have an account? <a href="/login-ert">Login Here</a></p>
        </div>
    </body>
</html>