<html>   
<head>   
    <title>File Upload</title>   
</head>   
<body>   
    <form action="/pyxia/create_post" method="post" enctype="multipart/form-data" id="form">
        <input type="text" placeholder="Title" name="title" required/>
        <br>
        <input type="text" placeholder="Description" name="description" required/>
        <br>   
        <p>Age Rating</p>
        <br>
        <select name="age_rating" id="age" size="2" required>
            <option value="16">16</option>
            <option value="18">18</option>
        </select>
        <br>
        <p>Private?</p>
        <input type="checkbox" name="private" />
        <br>
        <input type="file" name="file" accept=".png, .jpg, .mp4, .jpeg" multiple/>  
        <br> 
        <input type="submit" value="Post">   
    </form>   
</body>   
</html>