h1,
.login {
    text-align: center;
}

.error {
    color: red;
}

.g-recaptcha {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.center_div {
    text-align: center;
}